

.container-title {
    padding: 144px 0 40px;
    margin: 0 0 1rem;
  }
  .container-title h1 {
    font-size: 48px;
    margin-bottom: 16px;
  }
  

  
  .card2 {
    padding-top: 72px;
  }
  .card2 .imageshadow2 {
    border-radius: 4px;
    box-shadow:0px 20px 24px 3px rgba(216, 231, 9, 0.42);
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 4px;
    width: 100%;
  }
  .card2 .imageshadow2 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 3;
  }
  
  .divText2 {
    display: flex;
    flex-direction: column;
  }
  .divText2 h2 {
    font-size: 1.875rem;
    margin-bottom: 24px;
    line-height: 1.3;
    font-weight: 700;
  }
  .divText2 .subtitle2 {
    display: flex;
    margin-bottom: 40px;
    flex-wrap: wrap;
    box-align: center;
    align-items: center;
    grid-column-gap: 1rem;
    grid-row-gap: 0.5rem;
  }
  .divText2 .subtitle2 .research2 {
    margin-bottom: 0.25rem;
    font-family: "Lazare Grotesk", sans-serif;
  
    font-size: 0.75rem;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }
  .divText2 .subtitle2 .data2 {
    margin-bottom: 0.25rem;
    font-family: "Lazare Grotesk", sans-serif;

    font-size: 0.75rem;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }
  
 
  
  
  .card-btn {
    text-decoration: none;
    cursor: pointer;
    font-family: "Lazare Grotesk";
    font-size: 1rem;
  }
  
  
  a:active {
    outline: 0;
  }
  a:hover {
    outline: 0;
  }
  
  .container-card {
    display: flex;
    flex-direction: column;
   margin-top: 70px;

  }
  .container-card .cardblog {
    display: flex;
    align-self: stretch;
    max-width: 100%;
    height: auto; 
  }
  .container-card .cardblog .imageshadow {
    border-radius: 4px;
    box-shadow:  0px 0px 34px 10px rgba(251, 161, 40, 0.42);
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 4px;
    transition:  0.6s ease-out;
  }

  .imageshadow3{
    border-radius: 4px;
    box-shadow:  0px 0px 34px 10px rgba(251, 161, 40, 0.42);
    position: relative;
    display: block;
    width: 600px;
    overflow: hidden;
    border-radius: 14px;
    transition:  0.6s ease-out;
  }

  .imageshadow3:hover{
    box-shadow: 0 0px 50px 20px #272ad6;
    z-index: 50;
    transform: scale(1.1);
  }

  .container-card .cardblog .imageshadow:hover{
    box-shadow: 0 0px 50px 20px #272ad6;
    transform: scale(1.5);
    z-index: 50;

  }
  .container-card .cardblog .imageshadow img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 3;
    display: block; 
   
    
  }

  .container-card .cardblog .divText {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
  }
  .container-card .cardblog .divText .title {
    font-size: 1rem;
    margin-bottom: 16px;
  }
  .container-card .cardblog .divText .subtitle {
    margin-bottom: 40px;
    display: flex;
    grid-column-gap: 1rem;
  }
  .container-card .cardblog .divText .subtitle .research {
    margin-bottom: 0.25rem;
    font-family: "Lazare Grotesk", sans-serif;
    font-size: 0.75rem;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }
  
  .data {
    margin-bottom: 0.25rem;
    font-family: "Lazare Grotesk", sans-serif;
    font-size: 0.7rem;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }
  .dim{
    font-size: 0.65rem;
  }
  
  .filter {
    margin-bottom: 22px;
    text-align: center;
  }
  .filter .heading5 {
    font-family: "Lazare Grotesk", sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .filter .cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .filter .cont .box {
    border: 1.5px solid var(--black);
    padding: 10px 24px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 40px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .filter-reset-link {
    display: inline-block;
    margin-top: 24px;
    opacity: 0.5;
    transition: opacity 0.2s;
    font-family: "Lazare Grotesk", sans-serif;
    font-size: 1.125rem;
    line-height: 1.4;
    font-weight: 500;
    letter-spacing: 0.08em;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .pointer {
    cursor: pointer;
  }
  
  @media screen and (min-width: 768px) {
    .container {
      width: 85%;
      margin: auto;
    }
    h1 {
      font-size: 5.5rem;
      font-family: "ES Klarheit", sans-serif;
    }
    .container-card {
    
      display: grid;
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
      gap: 30px;
    }
    .container-title h1 {
      font-size: 5.5rem;
      font-family: "ES Klarheit", sans-serif;
    }
  }
  @media screen and (min-width: 990px) {
    .btn {
      display: block;
    }
    .card2 {
      display: flex;
      gap: 8rem;
      margin-bottom: 100px;
    }
    .container-card {
      display: grid;
      -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
    }
    .divText2 h2 {
      margin-bottom: 24px;
      font-size: 3rem;
      line-height: 1.3;
      font-weight: 700;
      font-family: "ES Klarheit", sans-serif;
    }
    .container-title h1 {
      margin: 0 0 1rem;
      font-family: "ES Klarheit", sans-serif;
      font-size: 6rem;
      line-height: 1.2;
      font-weight: 400;
    }
  }/*# sourceMappingURL=blog.css.map */